{% extends 'base.html.twig' %}

{% block title %}Hello PatientController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ app.user.name }}! ✅</h1>

    Features of the application:
    <ul>
        <li>Add patient <code><a href="{{ path('add-patients') }}">Add patient</a></code></li>
        <li>Patient list <code><a href="{{ path('list_patients') }}">Patient list</a></code></li>
        <li>Add consultation <code><a href="{{ path('add-consultations') }}">Add Consultation</a></code></li>
        <li>Consultation list <code><a href="{{ path('list_consultations') }}">Consultation list</a></code></li>
                    <li>Add ordonnance <code><a href="{{ path('add-ordonnance') }}">Add Ordonnance</a></code></li>
            <li>Ordonnance list <code><a href="{{ path('list_ordonnance') }}">Ordonnance list</a></code></li>
    </ul>
</div>
{% endblock %}
