{% extends 'base.html.twig' %}

{% block title %}Patient list!{% endblock %}

{% block body %}
<div class="m-4">
<h1>Patient list</h1>
<table border="1" class="table table">
    <tr>
        <td class="table-primary">Id</td>
        <td class="table-primary">Name</td>
        <td class="table-primary">email</td>
        <td class="table-primary">age</td>
        <td class="table-primary">Update</td>
        <td class="table-primary">Delete</td>
    </tr>
    {%  for p in patientList %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.name}}</td>
            <td>{{ p.email }}</td>
            <td>{{ p.age }}</td>
            <td><a href="{{ path("update-patient", {'id': p.id}) }}">Update</a></td>
            <td><a href="{{ path("delete-patient", {'id': p.id}) }}">Delete</a></td>
        </tr>
    {% endfor %}
</table>
</div>
{% endblock %}